<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var userId = $("#id").val();

            // При загрузке страницы устанавливаем значения в поле ввода workingDates
            var storedDates = localStorage.getItem('workingDates_' + userId);
            if (storedDates) {
                $("#workingDates").val(storedDates);

                // Обновляем значение скрытого поля в нужном формате при загрузке страницы
                var formattedDates = storedDates.split(',').map(function(date) {
                    return moment(date.trim(), 'DD-MM-YYYY').format('DD-MM-YYYY');
                }).join(', ');
                $("#workingDatesHidden").val(formattedDates);
            }

            // Инициализация multiDatesPicker
            $("#workingDates").multiDatesPicker({
                dateFormat: 'dd-mm-yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 2,
                onSelect: function (selectedDate) {
                    var formattedDate = moment(selectedDate, 'DD-MM-YYYY').format('DD-MM-YYYY');

                    var currentDates = $("#workingDates").val();
                    localStorage.setItem('workingDates_' + userId, currentDates);

                    // Обновление значения input для отправки на сервер
                    $("#workingDatesHidden").val(currentDates);
                }
            });

            // удаление всех дат
            function removeAllDates() {
                var userId = $("#id").val();  // Получаем идентификатор пользователя

                // Очистка localStorage с уникальным ключом
                localStorage.removeItem('workingDates_' + userId);

                // Очистка поля ввода
                $("#workingDates").val("");

                // Очистка таблицы
                var table = document.querySelector("table");
                var rows = table.getElementsByTagName("tr");
                while (rows.length > 0) {
                    table.deleteRow(0);
                }

                // Обновление значения input для отправки на сервер (пустая строка)
                $("#workingDatesHidden").val("");
            }
            $("#removeDatesButton").on("click", removeAllDates);
        });
    </script>
    <title>Edit User</title>
</head>
<body class="container">

<h2 class="display-4">Edit User</h2>

<form th:action="@{'/users/edit/' + ${user.id}}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" th:value="${user.name}" required>

    <input type="hidden" id="id" name="id" th:value="${user.id}">

    <label for="workingDates">Рабочие даты (разделенные запятыми): </label>
    <input type="text" id="workingDates" name="workingDates" th:value="${#strings.arrayJoin(user.workingDates, ',')}" />
    <input type="hidden" id="workingDatesHidden" name="workingDates" th:value="${#strings.arrayJoin(user.workingDates, ',')}" />

    <table>
        <tr th:each="date: ${user.workingDates}">
            <td>
                <span th:text="${date}"></span>
            </td>
        </tr>
    </table>

    <button type="button" class="btn btn-danger" id="removeDatesButton">Удалить все даты</button>
    <button class="btn btn-primary" type="submit">Сохранить изменения</button>
</form>

<a href="/users" class="btn btn-primary">Back to User List</a>
</body>
</html>